/*
*	Import de bootstrap
*
*/
@import 'node_modules/bootstrap/scss/bootstrap.scss';


/*
*	Colores Oficiales
*		$background -> Usar en background:
*		$text -> Usar en color:
*	
*/
:root{
	--background-00: #0B132B;

	--background-01dp: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #0B132B;

	--background-10: #1C2541;

	--background-20: #3A506B;

	--highlight: #1691B2;
	--highlight-50: #E1F5FE;
	--highlight-100: #B5E8FB;
	--highlight-500: #2AB4E1;
	--highlight-900: #005B6C;

	--text: white;
	--text-disabled: #3A506B;
}

/*
*	Detector de si el .main tiene el data-set de modo oscuro
*
*/
.main[data-mode='darkmode'] {
	--background-00: #F0F3F5;
	--background-10: #F0F3F5;
	--background-20: #F0F3F5;

	--background-01dp: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #F0F3F5;

	--highlight: #B80E66;
	--highlight-50: #FDE5EF;
	--highlight-100: #FABDD7;
	--highlight-500: #F61474;
	--highlight-900: #92095D;

	--text: black;
	--text-disabled: rgb(107, 58, 83);

}

$background-00: var(--background-00);
$background-01dp: var(--background-01dp);

$background-10: var(--background-10);

$background-20: var(--background-20);

$highlight: var(--highlight);
$highlight-50: var(--highlight-50);
$highlight-100: var(--highlight-100);
$highlight-500: var(--highlight-500);
$highlight-900: var(--highlight-900);

$text: var(--text);
$text-disabled: var(--text-disabled);
/*
*	Sombras para cada profundidad
*		Usar en box-shadow:
*
*	- 00dp no posee sombra ya que es la capa más profunda
*/
$shadow-01dp: 0px 4px 5px rgba(0, 0, 0, 0.25);

/*
*	ScrollBar
*
*/
	/* width */
	::-webkit-scrollbar {
		width: 10px;
  	}
  
	/* Track */
	::-webkit-scrollbar-track {
		background: $background-01dp; 
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: $highlight-50; 
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: $highlight-100; 
	}

	/* Handle on Active */
	::-webkit-scrollbar-thumb:active {
		background: $highlight; 
	}


/*
*	Etiqueta body y fuentes
*
*	- Usar .titulos para modificar fuente en titutulos o textos seleccionados previamente.
*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.titulos{
	font-family: 'Josefin Slab', serif;
}

.disabled{
	color: $text-disabled;
}

/*
*	Clase Content 
*/

.content{
	background: var(--background-00);
}

/*
*	Clase NavIzquierdo 
*/
.nav{
	z-index: 1;
	min-height: 100vh;
	color: $highlight;
	box-shadow: $shadow-01dp;
	background: $background-10;

	.list-group-item{
		color: $highlight;
		background: $background-10;

		.nav-link{
			font-size: 15px;
			color: $highlight;	
			&:hover{
				color: $highlight-500;	
			}
		}
		.disabled{
			color: $text-disabled;
		}
	}
	box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.35);
}

.logo{
	background: $background-20;
	color: $text;
}

/*
*	Clase Slider 
*/
.card{
	background: $background-20;
	.card-body{
		.card-text{
			color: $text;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

/*
*	Clase Slider 
*/
.slider{
	position: relative;
	width: 100%;
	height: 60vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.slide{
	min-width: 30%;
	margin: 0 1% 0 1%;
	height: 80%;
	transition: .5s;
	overflow: hidden;

	.card{
		height: 100%;
	}
}

.slider-arrow{
	background: rgba(255, 255, 255, 0.342);
	padding: 1rem;
	border-radius: 50px;
	transition: 0.5s;
	&:hover{
		background: rgba(255, 255, 255, 0.514);
	}
}

/*
*	Clase Header 
*/
.header-container{
	position: relative;
	width: 100%;
	height: 60vh;
	box-sizing: border-box;
	display: flex;
	overflow: hidden;
}

.header{
	min-width: 100%;
	height: 100%;
	transition: .5s;
	overflow: hidden;
}

/*
*	Clases para los carruseles
*/
%btn-styles{
	position: absolute;
	background: none;
	border: none;
	outline: none;
	transition: .5s;
	color: $text;
}

%btn-styles-slider{
	top: 50%;
	transform: translateY(-50%);
	width: 5%;
	height: 80%;
}

%btn-styles-header{
	width: 5%;
	height: 100%;
	&:hover{
		background: rgba(52, 58, 64, 0.664);
	}
}

#goLeft{
	left: 0;
	@extend %btn-styles;
	@extend %btn-styles-slider;
}

#goRight{
	right: 0;
	@extend %btn-styles;
	@extend %btn-styles-slider;
}

#goLeftHeader{
	left: 0;
	@extend %btn-styles;
	@extend %btn-styles-header;
}

#goRightHeader{
	right: 0;
	@extend %btn-styles;
	@extend %btn-styles-header;
}

#navSpace{
	z-index: -1;
}


.card-title{
	color: $text;
}

.clickable{
	cursor: pointer;
}


/*
*	Clase Jumbotron
*/
.jumbotron{
	background: $highlight;
}

/*
*	Clase NotFound
*/
.not-found{
	min-height: 100vh;
	background: $background-00;
	h1,h3{
		color: $text;
		.highlight{
			color: $highlight;
		}
	}
}

/*
*	Clase Artista
*/
.artist{
	background: $background-00;
	div{
		.canciones{
			background: $background-01dp;
		}
	}
}
.none{
	display: none;
}
.artistCover{
	// background: linear-gradient(to right, #183cddb6, #175977b7), url("./img/the-weeknd-blinding-lights.jpg");
    color: $text;
    background-size: cover;
	background-position: center;
	min-height: 50vh;
	.gradient{
		z-index: 2;
		background: linear-gradient(to top, $background-00, rgba(255, 255, 255, 0));
	}
	.titulos,.genero{
		color: white;
	}
}

.card-img-limit{
	height: 20vh;
	overflow: hidden;

}

.artistContentHeader{
	background: $background-00;
	color: $text;
	min-height: 10vh;
}
.artistContent{
	background: $background-00;
	color: $text;
	min-height: 50vh;
}



/*
*	Clase AudioPlayer
*/
.audioPlayer{
	z-index: 3;
	background: $background-10;
	box-shadow: $shadow-01dp;
	h6{
		overflow: hidden;
		color: $highlight;
	}
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	box-shadow: 0px -6px 9px rgba(0, 0, 0, 0.45);
}

#progress {
	cursor: pointer;
	width: 60vw;
}

#bg-bar {
	background: $highlight-900;
	height: 5px;
	margin-bottom: 7px;
	width: 100%;
	z-index: 0;
	border-radius: 50px;
}

#bar {
	height: 20px;
	transform: translateY(-20px);
	background: $highlight-500;
	border-radius: 50px;
	transition: 0.5s;
	width: 0;
	z-index: 1;
}

.playerButton{
	background: none;
	border: none;
	outline: none;
	color: $highlight;
	font-size: 1rem;
	&:hover{
		color: $highlight-500;
	}
}

.artistBack{
	color: white;
	left: 10px;
	position: fixed;
	font-size: 2rem;
}

// Small devices (vertical phones, 767px and down)
@media (max-width: 767px) { 
	.nav{
		display: none;
	}
	#navSpace{
		display: none;
	}
	.header-container{
		height: 35vh;
	}
}



// Medium devices (tablets, 991px and down)
@media (max-width: 991px) { 
	::-webkit-scrollbar {
		width: 0;
  	}
	.nav{
		display: none;
	}
	#navSpace{
		display: none;
	}
	.header-container{
		height: 35vh;
	}
	.card-img-limit{
		height: 10vh;
		overflow: hidden;
	}
	.audioPlayer{
		height: 8vh;
		.controls{
			width: 25vw;
			flex: 0 0 25%;
			max-width: none;
			.btn{
				font-size: 1rem;
			}
		}
		#progress{
			padding-top: 2.5rem;
			width: 40vw;
			flex: 0 0 40%;
		}
		#audioPlayerSong{
			width: 24vw;
			flex: 0 0 24%;
			max-width: none;
		}
		.volume-controls{
			width: 11vw;
			flex: 0 0 11%;
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.artist{
		width: 100vw;
		flex: 0 0 100%;
		max-width: none;
	}
	.not-found{
		width: 100vw;
		flex: 0 0 100%;
		max-width: none;
	}
	.carousel-cards{
		height: 30vh;
		overflow: hidden;
		.card{
			.card-body{
				.card-text{
					font-size: 0.8rem;
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.artistBack{
		display: none;
	}
	.nav{
		display: flex;
	}
	#navSpace{
		display: block;
	}
	.audioPlayer{
		.controls{
			width: 10vw;
			flex: 0 0 10%;
			max-width: none;
		}
		#progress{
			padding-top: 1.5rem;
		}
		.volume-controls{
			width: 6.5vw;
			flex: 0 0 6.5%;
			max-width: none;
		}
	}
}